@media screen and (max-width: 1200px) {
    .flowers-img {
        grid-template-columns: repeat(1, 1fr);   
    }
    .flower-1 img {
        align-items: center;
        justify-content: center;
        text-align: center;
    }
}
@media screen and (max-width: 768px) {
    .header {
        flex-direction: column;
        text-align: center;
    }
    .header img{
        margin: 40px auto;
        height: auto;
    }
    br{
        display: none;
    }
}