* {
    margin: 0;
    padding: 0;
}

.header {
    background-color: rgba(255, 217, 0, 0.279);
    display: flex;
    justify-content: space-around;
}

.header h1 {
    margin: 40px auto;
    font-size: 2rem;
    font-weight: bold;
}

.header p {
    font-size: 0.8rem;
    font-weight: 500;
    margin: 20px auto;
}

.header button {
    background-color: fuchsia;
    border: none;
    padding: 10px;
    margin: 10px auto;
    border-radius: 5px;
    color: white;
}

.header img {
    width: 100%;
    height: 400px
}

/* features section */
.featured-heading {
    margin: 30px auto;
    text-align: center;
}

.featured-flowers h1 {
    font-size: 2rem;
    font-weight: bold;
}

.featured-flowers p {
    font-size: 1rem;
    font-weight: 500;
}

.flowers-img {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    margin: 40px auto;
    width: 80%;
    height: auto;
    /* align-items: center;
    justify-content: center; */

}

.flowers-img img {
    align-items: center;
    width: 250px;
    height: auto;
    justify-content: center;
}

.flower-1 img {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    width: 250px;
    height: 300px;
    background-color: blueviolet;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.flower-2 img {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    width: 250px;
    height: 300px;
    background-color: paleturquoise;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

.flower-3 img {
    padding-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    width: 250px;
    height: 300px;
    background-color: royalblue;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}